body {
  margin: 0;
}
.container {
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}
.col1 {
  display: grid;
  justify-content: center;
  align-content: center;
}
.active-bg {
  background-color: rgb(118, 210, 240);
  font-weight: bold;
}
.col2 {
  display: grid;
  justify-content: center;
  align-content: center;
}
.inactive-bg {
  background-color: whitesmoke;
  color: #656565;
}
.justin {
  display: grid;
}
.eric {
  display: grid;
}
.col1 form,
.col2 form {
  grid-template-rows: 2fr 1fr;
}
.center {
  justify-self: center;
}
.hide {
  display: none;
}
.show {
  display: grid;
}
.winner {
  background-color: rgba(159, 255, 182, 0.951);
}
.loser {
  background-color: rgb(230, 24, 24);
}
.result {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
  font-size: 75px;
  background-color: black;
  color: white;
}
button {
  background-color: #2f6185;
  color: white;
  margin-top: 10px;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid transparent;
}
input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 6px 10px;
}
.font-size-lg {
  font-size: 75px;
}
.font-size-md {
  font-size: 20px;
}
